.darkTheme table {
  background-color: #000;
}
table {
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  font-size: 8px;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}
thead th {
  font-weight: 600;
  font-size: 8px;
  padding: 10px;
}

tr {
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  text-align: left;
  padding: 8px;
  font-weight: 300;
}

@media only screen and (min-width: 650px) {
  table {
    font-size: 16px;
  }
  thead th {
    font-weight: 600;
      font-size: 18px;
  }
  th, td {
    padding: 20px;
  }
}